@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/RobotoSlab-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/RobotoSlab-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoSlab-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/RobotoSlab-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/RobotoSlab-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoSlab-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/RobotoSlab-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/RobotoSlab-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/DIN-2014_Bold_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/DIN-2014_Bold.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/DIN-2014_Demi_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/DIN-2014_Demi.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 800;
  src: url(/fonts/DIN-2014_Extra_Bold_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/DIN-2014_Extra_Bold.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 200;
  src: url(/fonts/DIN-2014_Extra_Light_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/DIN-2014_Extra_Light.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/DIN-2014_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/DIN-2014_Light_Italic.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/DIN-2014_Light.otf) format('opentype');
}

@font-face {
  font-family: 'DIN 2014';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/DIN-2014_Regular.otf) format('opentype');
}

.content {
  min-height: calc(100vh - 145px);
}

p {
  @apply my-2;
}

h2 {
  @apply mt-1 mb-0 font-bold text-4xl ;
}

a {
  @apply text-brand-content underline;
}

a:hover {
  @apply text-brand-content-hover;
}

a.unstyled-link {
  @apply no-underline text-inherit;
}

code {
  @apply text-sm;
}

p > code {
  @apply bg-gray-300 bg-opacity-50 p-0.5;
}